.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}

.info-panel {
    background-color: white;
    margin-top: -120px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.workspace {
    margin-top: 120px;
    text-align: center;
}

.workspace h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.workspace a {
    margin-top: 30px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/img/jumbotron-bg.jpg);
    height: 500px;
    background-size: cover;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    font-size: 32px;
    margin-bottom: 70px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.testimonial {
    margin-top: 100px;
}

.testimonial h4 {
    font-weight: 100;
    font-size: 20px;
    font-style: italic;
}

.testi figure {
    margin: 10px;
}

.testi img {
    width: 80px;
    height: 80px;
    margin-top: 5px;
}

.testi figure p {
    text-align: center;
}

.testi .kecil img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    opacity: 0.6;
}

footer {
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    color: #acacac;
}

/* Tombol */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        height: 640px;
        margin-top: -75px;
    }

    .jumbotron .display-4 {
        font-size: 64px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    }

    .workspace {
        text-align: left;
    }

    .workspace h3 {
        font-size: 63px;
    }

    .testimonial h5 {
        font-weight: 100;
        font-size: 35px;
        font-style: italic;
    }

}